mat-form-field {
  width : 100%;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
}

button {
  margin:auto;
  display:block;
  border:2px black solid;
  font-size:1rem;
  text-align:center;
}


h1 {
  text-align: center;
  color: brown;
}


