<section class="mat-typography">
  <h1>Please fill this form to change your password!</h1>
</section>
<mat-card>
    <mat-spinner *ngIf = "isLoading"></mat-spinner>
    <form (submit)= "onChangePassword(chPasswordForm)" #chPasswordForm="ngForm" *ngIf = "!isLoading">
      <mat-form-field>
        <input matInput
        name="oldPassword"
        ngModel
        type= "text"
        placeholder="Old Password"
        #oldPasswordInput="ngModel"
        required>
        <mat-error *ngIf="oldPasswordInput.invalid">
          Please enter your old password correctly!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
        name="reOldPassword"
        ngModel
        type= "text"
        placeholder="Old Password (Again)"
        #ReOldPasswordInput="ngModel"
        required>
        <mat-error *ngIf="ReOldPasswordInput.invalid">
          Your passwords doesn't match!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
        name="newPassword"
        ngModel
        type="password"
        placeholder="New Password"
        #passwordInput="ngModel"
        required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password!</mat-error>
      </mat-form-field>
      <button
      mat-raised-button color = "primary"
      type = "submit">Change Password</button>
    </form>
  </mat-card>
  <!--<p class ="info-text mat-body-1" *ngIf = "dontMatchPassword && !isLoading">Your old passwords don't match!!!</p>
  <p class ="info-text mat-body-1" *ngIf = "wrongPassword && !isLoading">Your old password is wrong!!!</p>-->

