

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}




th {
  cursor: pointer;
  background-color:greenyellow;
  text-align: center;
  text-decoration: underline;
  font-size: 15px;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}




table {
  width: 100%;
}
